* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f4f3;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #0a0908;
}

p {
  font-size: 20px;
  /* display: block; */
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: 2px solid black;
  border-radius: 50%;
  background: #f2f4f3;
  z-index: 210210210;
}

.back-to-top img {
  height: 40px;
  width: 40px;
}
